<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Sale</title>
    <link rel="stylesheet" href="../static/add_style.css">
</head>
<body>
    <div class="add_game">
        <form action="/addsame" method="post">
            <h1>Adding Sale</h1>
            <input type="number" id="iduser" name="iduser" placeholder="User ID"><br><br>
            <input type="number" id="idgame" name='idgame' placeholder="Game ID"><br><br>
            <input type="text" id="value" name='value' placeholder="Total Value"><br><br>
            <button type="submit">Submit</button>
        </form>
    </div>
    
</body>
</html>