<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add User</title>
    <link rel="stylesheet" href="../static/add_style.css">
</head>
<body>
    <div class="add_game">
        <form action="/adduser" method="post">
            <h1>Adding User</h1>
            <input type="text" id="nickname" name="nickname" placeholder="Nickname"><br><br>
            <input type="text" id="email" name='email' placeholder="E-mail"><br><br>
            <button type="submit">Submit</button>
        </form>
    </div>
    
</body>
</html>