<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Change Nickname</title>
    <link rel="stylesheet" href="../static/change_style.css">
</head>
<body>
    <div class="add_game">
        <form action="/gameprice" method="post">
            <h1>Changing Nickname</h1>
            <input type="number" id="userid" name="userid" placeholder="User ID"><br><br>
            <input type="text" id="nnick" name='nnick' placeholder="New Nickname"><br><br>
            <button type="submit">Submit</button>
        </form>
    </div>
    
</body>
</html>