<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Change Price</title>
    <link rel="stylesheet" href="../static/change_style.css">
</head>
<body>
    <div class="add_game">
        <form action="/gameprice" method="post">
            <h1>Changing Game Price</h1>
            <input type="number" id="gameid" name="gameid" placeholder="Game ID"><br><br>
            <input type="text" id="nprice" name='nprice' placeholder="New Price"><br><br>
            <button type="submit">Submit</button>
        </form>
    </div>
    
</body>
</html>