<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Game Genres</title>
    <link rel="stylesheet" href="../static/gmenu_style.css">
</head>
<body>
    <div class="home_page">
        <h1>Group By Genre</h1>
        <form method="post" action="/adventure_games">
            <button type="submit">Group By Adventure</button><br><br>
        </form>
        <form method="post" action="/rpg_games">
            <button type="submit">Group By RPG</button><br><br>
        </form>
        <form method="post" action="/survival_games">
            <button type="submit">Group By Survival</button><br><br>
        </form>
        <form method="post" action="/strategy_games">
            <button type="submit">Group By Strategy</button><br><br><br><br>
        </form>
        <form method="post" action="/">
            <button type="submit">Main Menu</button><br><br>
        </form>
    </div>
</body>
</html>