<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sale Delete</title>
    <link rel="stylesheet" href="../static/remove_style.css">
</head>
<body>
    <div class="remove_box">
        <form action="/removesale" method="post">
            <h1>Deleting Sale</h1>
            <input type="number" id="saleid" name="saleid" placeholder="Sale ID"><br><br>
            <button type="submit">Submit</button>
        </form>
    </div>
    
</body>
</html>