<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Delete</title>
    <link rel="stylesheet" href="../static/remove_style.css">
</head>
<body>
    <div class="remove_box">
        <form action="/removeuser" method="post">
            <h1>Deleting User</h1>
            <input type="number" id="userid" name="userid" placeholder="User ID"><br><br>
            <button type="submit">Submit</button>
        </form>
    </div>
    
</body>
</html>