<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Games Data</title>
    <link rel="stylesheet" href="../static/table_style.css">
</head>
<body>
    <div class='f_tables'>
        <h1>Games</h1>
        <table border='1'>
            <tr>
                <th>ID</th>
                <th>Title</th>
                <th>Genre</th>
                <th>Price</th>
            </tr>
            {% for linha in dados %}
            <tr>
                {% for valor in linha %}
                <td>{{ valor }}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </table><br><br>
        <form class="foot" action="/" method="post">
            <button type="submit">Main Menu</button>
        </form>
        <form class="sgame" action="/games" method="post">
            <input class="search" name='sch' id="sch" placeholder="Search Game"></input>
            <button class="bt" type="submit">Search</button>
        </form>
    </div>
</body>
</html> 